<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<extensions>
		<add assembly="My.Awesome.LoggingExentions"/>
	</extensions>
	<targets>
		<target name="logfile"
				xsi:type="File"
				fileName="${event-properties:loggerProperties:objectpath=logsPath}${event-properties:loggerProperties:objectpath=Name}.log"
				archiveFileName="${event-properties:loggerProperties:objectpath=logsPath}Archives/${event-properties:loggerProperties:objectpath=Name}_${date:format=yyyy-MM-dd}.log"
				archiveEvery="Day"
				maxArchiveDays="5"
				maxArchiveFiles="30"
				layout="${longdate} ${level:uppercase=true:padding=5} - ${event-properties:loggerProperties:objectpath=Name} - ${message} ${exception:format=tostring}"
				keepFileOpen="true"
                />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>